.dark .select2-container--bootstrap-5 .select2-selection {
    background-color: #1f2937;
    border-color: #4b5563;
    color: white;
}

.dark .select2-container--bootstrap-5 .select2-selection__rendered {
    color: white;
}

.dark .select2-container--bootstrap-5 .select2-selection__placeholder {
    color: #9ca3af;
}

.dark .select2-container--bootstrap-5 .select2-dropdown {
    background-color: #1f2937;
    border-color: #4b5563;
}

.dark .select2-container--bootstrap-5 .select2-results__option {
    color: white;
}

.dark .select2-container--bootstrap-5 .select2-results__option--highlighted {
    background-color: #374151;
    color: white;
}